* {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
}

/* Верхний блок с иконками меню */

.page__header {
  width: 100%;
  background: #222222;

}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.page__header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.page__header-logo {
  margin: 18px 41px 19px 0;
}

.page__header-logo:hover {
  opacity: 0.7;
}

/* toDo разобраться с формой поиска */

/* toDo задать иконкам назначение */
.page__header-menu:hover {
  opacity: 0.7;
}

.page__header-account {
  margin: 26px 11px 20px 33px;
}

.page__header-account:hover {
  opacity: 0.7;
}

.page__header-cart {
  margin: 26px 0 20px 33px;
}

.page__header-cart:hover {
  opacity: 0.7;
}

/* the brand of luxerious fashion */
.brand {
  width: 100%;
  background: #F1E4E6;
  margin-bottom: 65px;
}

.brand__content {
  background-image: url(img/top_man.png);
  background-repeat: no-repeat;
  background-position: bottom left -225px;
  background-size: contain;
  min-height: 764px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top__heading {
  width: 377px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin: 0 95px 87px 0;
}

.top__heading::before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 0px;
  left: -27px;
}

.top__heading_subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.top__heading_subtitle span {
  color: #F16D7F;
}

/* categories */

.categories__list {
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.categories__item {
  margin-bottom: 30px;
}

.categories__item_link {
  position: relative;
}

.categories__item_heading {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  bottom: 100px;
  right: 100px;
  /* toDo выровнять текст на изображениях категорий */
}

.categories__item_img {
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
  filter: brightness(33%);
}

.categories__item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}